<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>ログイン後</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My site</h1>
    <p>Welcome to My site</p>
    <p><%= user %> さんようこそ。</p>
    <p><a href="/logout">ログアウト</a></p>
  </body>
</html>
